
   H1 { font: bold 16pt Verdana,Arial,Helvetica }
   P { font: 10pt Verdana,Arial,Helvetica }

   TH { font: bold 10pt Verdana,Arial,Helvetica ; 
	text-align: center}

   TD { font: 10pt Verdana,Arial,Helvetica }

   A:link { color: #4444DD }
   A:visited { color: #9999FF }
   A:active { color: #DDDD44 }

   .notlink { font : bold 10pt Verdana,Arial,Helvetica ; color : #662222 }

   .title { font : bold 10pt Verdana,Arial,Helvetica }
   .authors { font : italic 10pt Verdana,Arial,Helvetica }

   .abstract { width : 300px ; text-align : justify ; font : 10pt Verdana,Arial,Helvetica }		

   .blackline { border: 2pt;
		border-style: solid;
		border-color: black; }

   .XXX { font-weight : bold ; color : #AA2222 }

   .definition { font-style : italic ; margin-left : 20px ; margin-right : 20px }

