game mario.nes
tiles mario.tiles
movie mario.fm2

# hex coordinates of player location (top left)
# note: Mario can go off the screen. Ideally we'd mix this with
# other bytes...
playerx 03ad
playery 00ce

# Checked, though not sure about "east" and "west" -tom7.
south 0033 01
north 0033 02

view side

warmup 250
