game zelda.nes
tiles zelda.tiles
movie zeldalong.fm2

view top

# hex coordinates of player location (top left)
playerx 0070
playery 0084

# playerx 0000
# playery 0000

# angle determiners. First value is the byte to read,
# second is the value; both are hex.
east 0098 01
west 0098 02
south 0098 04
north 0098 08

# warmup 3136
# warmup 400

